<h1>Editing biomarker</h1>

<%= render "form", biomarker: @biomarker %>

<br>

<div>
  <%= link_to "Show this biomarker", @biomarker %> |
  <%= link_to "Back to biomarkers", biomarkers_path %>
</div>
