<h1>Biomarkers</h1>

<ol id="biomarkers">
  <% @biomarkers.each do |biomarker| %>
  <li class="tw-flex tw-items-center tw-m-4 tw-border">
    <p class="tw-px-2 tw-py-2 tw-m-0">
      <strong>Name:</strong>
      <%= biomarker.name %>
    </p>
    <p class="tw-px-2 tw-py-2 tw-m-0">
      <strong>Created at:</strong>
      <%= format_date biomarker.created_at %>
    </p>

    <%= link_to "Show this biomarker", biomarker, class: "tw-no-underline tw-bg-blue-500 tw-hover:bg-blue-700 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded" %>
  </li>
  <% end %>
</ol>

<%= link_to "New biomarker", new_biomarker_path %>
