<%= render "detail_view_health_record", health_record: @health_record %>

<div>
  <%= link_to "Edit this health record", edit_health_record_path(@health_record) %> |
  <%= link_to "Back to health records", health_records_path %>

  <%= button_to "Destroy this Health Record", @health_record, method: :delete, class: "tw-mt-6 tw-mr-6 tw-mb-6 tw-bg-red-500 tw-hover:bg-blue-700 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded" %>
</div>
