<thead class="tw-text-xs tw-text-gray-700 tw-uppercase tw-bg-gray-400 tw-text-center">

<tr>
  <th scope="col" class="tw-px-6 tw-py-3">
    User
  </th>
  <th scope="col" class="tw-px-6 tw-py-3">
    Email
  </th>
  <th scope="col" class="tw-px-6 tw-py-3">
    Role
  </th>
  <th scope="col" class="tw-px-6 tw-py-3">
    Created date
  </th>
  <th scope="col" class="tw-px-6 tw-py-3">
    Updated date
  </th>
  <th scope="col" class="tw-px-6 tw-py-3">
    <span class="tw-sr-only">Show</span>
  </th>
</tr>

</thead>